.one {
    background-color: antiquewhite;

    width: 100px;
    height: 100px;

    position: absolute;
    left: 100px;
    top: 100px;
}

.two {
    background-color: aquamarine;
    
    width: 100px;
    height: 100px;
    
    position: absolute;
    left: 300px;
    top: 100px;
}

   body {
    background: url(images/city.png) repeat-x 0 100% fixed,
                linear-gradient(to top, #5080b1, #004e8c) fixed;
    animation: city 30s linear infinite;
    -webkit-animation: city 30s linear infinite;
   }
   @keyframes city {
    from { background-position: -1000px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   @-webkit-keyframes city {
    from { background-position: -1000px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
   main {
    width: 80%;
    min-height: 800px;
    display: block;
    margin: auto;
    background: rgba(255,255,255,0.6);
    padding: 20px;
   }